<h1>About This Project</h1>

<h2>NPM Packages Used</h2>
<ul>
  <li>express</li>
  <li>express-handlebars</li>
  <li>mongoose</li>
  <li>express-session</li>
  <li>bcrypt</li>
  <li>multer</li>
  <li>dotenv</li>
</ul>

<h2>Third-Party Libraries</h2>
<ul>
  <li>Bootstrap 5.3</li>
  <li>jQuery</li>
  <li>Render</li>
</ul>